* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Montserrat', arial, Arial, Helvetica, sans-serif;
}

body {
  background-image: radial-gradient(circle, red, yellow, green);
}
